<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block>
        <div th:replace="~{fragments/head}"></div>
    </th:block>
</head>
<body>
<th:block>
    <div th:replace="~{fragments/navbar}"></div>
</th:block>
<!--/*@thymesVar id="projections" type="java.util.Page<org.movies.system.models.entities.Projection>"*/-->
<!--th:with="previousPageIndex = ${projections.previousPageable().getPageNumber() + 1}, currentPageIndex = ${projections.getPageable().getPageNumber() + 1}, nextPageIndex = ${projections.nextPageable().getPageNumber() + 1}"-->
<div class="container pt-4 pb-5">
    <h2>All Projections</h2>

    <!--/*@thymesVar id="projections" type="java.awt.print.Pageable<org.movies.system.models.entities.Projection>"*/-->
    <th:block th:if="${projections == null}">
        <div class="container text-center">
            <h3>No available projections at this time!</h3>
        </div>
    </th:block>

    <th:block th:if="${cinema != null}">
        <h3 th:text="${cinema}"></h3>
    </th:block>

    <th:block th:if="${projections != null}">

        <table class="table table-hover pt-4">
            <thead>
            <tr class="row">
                <th class="col-md-1" scope="row">#</th>
                <th class="col-md-2" scope="row">Movie</th>
                <th class="col-md-2" scope="row">Poster</th>
                <th class="col-md-1" scope="row">Cinema</th>
                <th class="col-md-2" scope="row">Projection Date</th>
                <th class="col-md-2" scope="row"></th>
                <th class="col-md-2" scope="row"></th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="projection, iterProjection : ${projections}">
                <tr class="row movie-row"
                    th:onclick="'window.location.href = \'' + @{/reservations/add/{id}(id=${projection.id})} + '\''">
                    <td class="col-md-1" scope="row" th:text="${
                    (projections.getPageable().getPageNumber() + 1 <= 1
                    ? 0
                    : projections.getPageable().getPageNumber() ) * 5 + (iterProjection.index + 1)}"></td>
                    <td class="col-md-2" scope="row" th:text="${projection.getMovie().getTitle()}"></td>
                    <td class="col-md-2" scope="row">
                        <div class="w-50 p-1" id="movie-poster">
                            <img class="img-thumbnail" th:src="${projection.getMovie().getPosterUrl()}" alt="Poster"/>
                        </div>

                    </td>
                    <td class="col-md-1" scope="row" th:text="${projection.getCinema().getName()}"></td>
                    <td class="col-md-2" scope="row"
                        th:text="${#dates.format(projection.getProjectionDate(), 'yyyy-MM-dd')}"></td>
                    <td class="col-md-2" scope="row">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-secondary" role="button"
                           th:href="@{/edit/projection/{id} (id=${projection.id})}">Edit</a>
                    </td>
                    <td class="col-md-2" scope="row">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-secondary" role="button"
                           th:href="@{/delete/projection/{id} (id=${projection.id})}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <nav>
            <ul class="pagination d-flex justify-content-center">
                <!--Previous Button-->
                <li class="page-item"><a class="page-link" th:if="${projections.hasPrevious()}"
                                         th:href="@{/projections/show(page=${projections.previousPageable().getPageNumber() + 1} - 1)}">Previous</a>
                </li>

                <!--Dot Button-->
                <li class="page-item" id="first"><a class="page-link"
                                                    th:if="${projections.getPageable().getPageNumber() + 1 > 3 and projections.hasNext()}"
                                                    th:disabled="true">...</a></li>

                <!--Pagination Navigation-->
                <th:block th:if="${projections.hasNext() and page_count > 3}" th:each="number : ${#numbers.sequence(
            ((projections.getPageable().getPageNumber()
            / 3) * 3)
            , ((projections.getPageable().getPageNumber()
            / 3) * 3) + 2)}">
                    <th:block th:if="${number < projections.getTotalPages()} ">
                        <li class="page-item"
                            th:classappend="${number == projections.getPageable().getPageNumber()  ? ' active' : ''}"><a
                                class="page-link" th:text="${number + 1}" th:href="@{/movies/show(page=${number})}"></a>
                        </li>
                    </th:block>
                </th:block>

                <!--Dot Button-->
                <li class="page-item" id="second"><a class="page-link"
                                                     th:if="${projections.getPageable().getPageNumber() + 2 < projections.getTotalPages() - 1}"
                                                     th:disabled="true">...</a></li>

                <!--Next Button-->
                <li class="page-item"><a class="page-link" th:if="${projections.hasNext()}"
                                         th:href="@{/projections/show(page=${projections.nextPageable().getPageNumber()})}">Next</a>
                </li>
            </ul>
        </nav>
    </th:block>
</div>

<th:block th:replace="~{fragments/footer}">
</th:block>
</body>
</html>