<nav class="navbar navbar-expand-lg bg-faded navbar-whine">
    <div class="navbar-toggleable" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand nav-link-white" href="/">Movies Reservation System<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-white" href="/">Home</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link nav-link-white" th:href="@{/register}">Register</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link nav-link-white" th:href="@{/login}">Login</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item dropdown disabled">
                <a class="nav-link dropdown-toggle nav-link-white" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Flights
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" class="dropdown-item" href="/flights/show">Show</a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="/flights/add">Add</a>
                </div>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link nav-link-white" href="/map">Map</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link nav-link-white" href="/users">Users</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link nav-link-white" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
