<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <th:block>
        <div th:replace="~{fragments/head}"></div>
    </th:block>
</head>
<body>
<th:block>
    <div th:replace="~{fragments/navbar}"></div>
</th:block>
<div class="container text-center pt-2" sec:authorize="isAuthenticated()">
    <h5 style="color: #6699ff;">Hello, <span sec:authentication="name"></span></h5>
</div>

<div class="container text-center pt-4">
    <h4 style="color: #6699ff;">Please choose a cinema</h4>
</div>

<div id="loader">
    <div class="loadersmall"></div>
</div>

<div class="container mt-4 mb-4 d-flex flex-column" style="display: none"  id="cinemas">
</div>

<th:block th:replace="~{fragments/footer}">
</th:block>
<script type="text/javascript" th:src="@{/js/ajax.js}">
</script>
<script type="text/javascript">
    $(document).ready(getCinemas())
</script>
<!--/*@thymesVar id="success" type="java.lang.Object"*/-->
<script th:if="${success}">
    new Noty({
        text: 'Successful reservation',
        layout: 'topCenter',
        type: 'success',
        theme: 'mint',
        timeout: 3000
    }).show();
</script>
</body>
</html>