<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block>
        <div th:replace="~{fragments/head}"></div>
    </th:block>
</head>
<body>
<th:block>
    <div th:replace="~{fragments/navbar}"></div>
</th:block>
<div class="container pt-4 pb-5">
    <h2>Your Reservations</h2>
    <!--/*@thymesVar id="reservations" type="java.util.Page<org.movies.system.models.view.ReservationViewDto>"*/-->
    <th:block th:if="${reservations.size() == 0}">
        <div class="container text-center">
            <h3>Not available reservations at this time!</h3>
        </div>
    </th:block>

    <th:block th:if="${reservations.size() != 0}">

        <table class="table table-hover pt-4">
            <thead>
            <tr class="row">
                <th class="col-md-1" scope="row">#</th>
                <th class="col-md-2" scope="row">Movie</th>
                <th class="col-md-2" scope="row">Projection Date</th>
                <th class="col-md-1" scope="row">Hour</th>
                <th class="col-md-1" scope="row">Cinema</th>
                <th class="col-md-1" scope="row">Tickets</th>
                <th class="col-md-1" scope="row">Price</th>
                <th class="col-md-3" scope="row">Seats</th>

            </tr>
            </thead>
            <tbody>

            <th:block th:each="reservation, iterReservation : ${reservations}">
                <tr class="row">
                    <td class="col-md-1" th:text="${iterReservation.index + 1}"></td>
                    <td class="col-md-2" th:text="${reservation.getProjection().getMovie().getTitle()}"></td>
                    <td class="col-md-2" th:text="${#dates.format(reservation.getProjection().getProjectionDate(), 'yyyy-MM-dd EEE')}"></td>
                    <td class="col-md-1" th:text="${reservation.getProjectionHour()}"></td>
                    <td class="col-md-1" th:text="${reservation.getProjection().getCinema().getName()}"></td>
                    <td class="col-md-1" th:text="${reservation.getTickets()}"></td>

                    <td class="col-md-1">$<span th:text="${reservation.getPrice()}"></span></td>
                    <td class="col-md-3">
                        <th:block th:each="seat : ${reservation.getSeats()}">
                            <span th:text="${seat.getSeatNumber()} + ' '"></span>
                        </th:block>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <a class="btn btn-primary" href="/">Back</a>
    </th:block>
</div>

<th:block th:replace="~{fragments/footer}">
</th:block>
</body>
</html>